![imagen](./img/ejercicios.png)

## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [2]:
ejer_1 = [1,2,3,4,5]
ejer_1 = sorted(ejer_1, reverse=True)
print(ejer_1)

[5, 4, 3, 2, 1]

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [11]:
import math
ejer_2 = [1,2,3,4,5]

a = []
for valor in ejer_2:
    a += [valor**2]
print(a)

[1, 4, 9, 16, 25]

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [16]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]

ejer_3_comb = [f"{ejer_3_1[0]} {ejer_3_2[0]}", f"{ejer_3_1[0]} {ejer_3_2[1]}",
               f"{ejer_3_1[1]} {ejer_3_2[1]}", f"{ejer_3_1[1]} {ejer_3_2[0]}"]
print(ejer_3_comb)

['Hola Que', 'Hola tal', 'amigo tal', 'amigo Que']

## Ejercicio 4
Dada la siguiente lista, encuentra el índice del valor 45 y sustitúyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [18]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]
print(ejer_4.index(45))
ejer_4[4] = 0
print(ejer_4)

4
[20, 47, 19, 29, 0, 67, 78, 90]

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [23]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

for x in ejer_5:
    if x == 3:
        ejer_5.remove(x)
    else:
        pass

print(ejer_5)

[20, 47, 19, 29, 45, 67, 78, 90, 3]

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y ultimo elemento de la tupla del apartado 3. Usa `len` para el ultimo
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [38]:
tp_1 = (1, 2, 3)
tp_2 = (4)
print(type(tp_2))
tp_3 = ("Harry", 3, True, "Potter")
print(tp_3[0]), print(len(tp_3[3]))
tp_4 = list(tp_3)
tp_4.append("Azkaban")
tp_4 = tuple(tp_4)
print(tp_4)
tp_5 = list(tp_4)
del tp_5[2]
print (tp_5)

<class 'int'>
Harry
6
('Harry', 3, True, 'Potter', 'Azkaban')
['Harry', 3, 'Potter', 'Azkaban']

## Ejercicio 7
Concatena todos los elementos de la tupla en un unico string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [49]:
ejer_7 = ("cien", "cañones", "por", "banda")
ejer_7_new = " ".join(map(str, ejer_7))
print(ejer_7_new)

cien cañones por banda

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [51]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)
print(ejer_8[2])
print(ejer_8[-3])

3
90

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posicion 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [53]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
print(ejer_9.count(3))
ejer_9_new = ejer_9[6:11]
print(ejer_9_new)
print(len(ejer_9))

7
(29, 45, 67, 78, 90)
26

## Ejercicio 10
Comprueba si el numero 60 esta en la tupla del ejercicio 9

In [54]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
ejer_9.index(60)

ValueError: tuple.index(x): x not in tuple

## Ejercicio 11
1. Convierte la tupla del apartado 10 en una lista
2. Convierte la tupla del apartado 10 en un set
3. Convierte la tupla del apartado 10 en un diccionario. Usa también los indices

In [71]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
print(indices_ejer_9)
tp_9 = list(ejer_9)
set_9 = set(ejer_9)
dic_9 = dict.fromkeys(ejer_9)
print(dic_9)

range(0, 26)
{3: None, 20: None, 47: None, 19: None, 29: None, 45: None, 67: None, 78: None, 90: None, 5: None, 2: None, 4: None, 7: None, 9: None, 6: None}

## Ejercicio 12
Convierte la siguiente tupla en un diccionario
> ```ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

In [80]:
ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
keys = []
values = []
for k, v in ejer_12:
    k = ejer_12[0]
    v = ejer_12[1]
    keys += k
    values += v
dic_12 = dict.fromkeys(keys, values)
print(keys)
print(values)
print(dic_12)

['x', 1, 'x', 1, 'x', 1, 'x', 1, 'x', 1, 'x', 1]
['x', 2, 'x', 2, 'x', 2, 'x', 2, 'x', 2, 'x', 2]
{'x': ['x', 2, 'x', 2, 'x', 2, 'x', 2, 'x', 2, 'x', 2], 1: ['x', 2, 'x', 2, 'x', 2, 'x', 2, 'x', 2, 'x', 2]}

## Ejercicio 13
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un unico for
> ```ejer_13 = {4:78, 2:98, 8:234, 5:29}```

In [99]:
ejer_13 = {4:78, 2:98, 8:234, 5:29}
claves = list(ejer_13.keys())
claves_ord = sorted(claves, reverse=False)
print(claves_ord)

values = list(ejer_13.values())
values_ord = sorted(values, reverse=True)
print(values_ord)

claves_ord.append(9)
print(claves_ord)

ejer_13.fromkeys(ejer_13, 2)

[2, 4, 5, 8]
[234, 98, 78, 29]
[2, 4, 5, 8, 9]

{4: 2, 2: 2, 8: 2, 5: 2}

## Ejercicio 14
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_14_1 = {1: 11, 2: 22}```
>
> ```ejer_14_2 = {3: 33, 4: 44}```

In [102]:
ejer_14_1 = {1: 11, 2: 22}
ejer_14_2 = {3: 33, 4: 44}

ejer_14_3 = ejer_14_2.update(ejer_14_1)

print(ejer_14_3)

None

## Ejercicio 15
Suma todos los valores del dicionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [105]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
valores = list(ejer_15.values())
suma_valores = sum(valores)
print(suma_valores)

165

## Ejercicio 16
Multiplica todos los valores del diccionario
> ```ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [106]:
ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
valores = list(ejer_16.values())
def multiplyList(myList) :
    result = 1
    for x in myList:
         result = result * x
    return result
mult_valores = multiplyList(valores)
print(mult_valores)

19326120

## Ejercicio 17
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el utlimo elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()`

In [112]:
set_1 = {1, 2, 3}
set_1.add(26)
set_1.pop()
set_1.discard(10)
print(set_1)

{1, 2, 3}